* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(226, 226, 226);
    background: linear-gradient(to right, rgb(226, 226, 226), rgb(255, 255, 255));
}

/* navigation bar */

.navbar__root {
    background: #00539CFF;
    width: 100%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
    top: 0;
    z-index: 999;
    border: 1px solid #00539CFF;
}

.navbar__container {
    height: 80px;
    font-size: 1.2rem;
    padding: 0 50px;
    max-width: 1300px;
}

#navbar__logo {
    font-family: 'Irish Grover', cursive;
    color: rgb(226, 226, 226);
    z-index: 999;
    font-weight: 400!important;
    font-size: 2rem;
    text-decoration: underline;
}

.navbar__items {
    height: 80px;
}

.navbar__links {
    color: rgb(226, 226, 226)!important;
    width: 125px;
    transition: all 0.3s ease-in-out;
}

.navbar__links:hover {
    opacity: 0.5!important;
}

/* Highlight Effect on Navigation */

.highlight {
    border-bottom: 3px solid rgb(199, 199, 199);
}

/* Media Query for Navigation*/
@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid!important;
        grid-template-columns: auto!important;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        z-index: -1;
    }

    .navbar__menu.active {
        background: rgba(0, 83, 156, 0.952);
        top: 100%!important;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        z-index: 999;
        height: 60vh!important;
        font-size: 1.6rem!important;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
        height: auto!important;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bars{
        width: 30px;
        height: 3px;
        margin: 7px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        display: block;
        cursor: pointer;
    }

    .navbar__items {
        width: 100%;
    }

    .navbar__links {
        text-align: center!important;
        padding: 2rem!important;
        width: 100%!important;
        color: #fff!important;
        display: table;
        opacity: 0.5;
    }

    .navbar__links:active {
        background: rgb(233, 233, 233);
        color: #000;
    }

    #mobile__menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile__menu.is-active .bars:nth-child(2) {
        opacity: 0;
    }

    #mobile__menu.is-active .bars:nth-child(1) {
        transform: translateY(10px) rotate(-45deg);
    }

    #mobile__menu.is-active .bars:nth-child(3) {
        transform: translateY(-10px) rotate(45deg);
    }
}

/* End of Navigation Bar */

/* Contact Content Section */

.contact__container {
    margin: 0 50px;
    padding: 40px 0;
}

.get__touch {
    font-size: 1.5rem;
}

.contact__message {
    padding: 90px 0;
    margin: 0 150px;
}

.contact__message a:hover {
    text-decoration: none!important;
}

.map__container a {
    text-decoration: none;
    color: #000;
    position: relative;
    margin: 15px 0;
    display: inline-block;
}

.google__map {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    bottom: 0;
    opacity: 0;
    z-index: -1;
}

.map__container:hover .google__map {
    opacity: 1;
    transition-delay: 0.8s;
    z-index: 12;
}
.contact__email {
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
}

.fa-facebook-f,
.fa-gitlab,
.fa-linkedin-in {
    color: #fff;
    background: #00539CFF;
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
    margin: 0px 5px;
    transition: all 0.3s ease-in-out;
}

.fa-linkedin-in,
.fa-facebook-f {
    padding: 8px 13px;
}

.fa-gitlab {
    padding: 8px 10px;
}

.fa-facebook-f:hover,
.fa-gitlab:hover,
.fa-linkedin-in:hover {
    color: rgb(0, 64, 119);
    background: #fff;
    border: 1px solid #00539CFF;
    transform: scale(1.2);
}

.contact__input {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.26);
    padding: 50px;
    border-radius: 8px;
    margin: 0 130px 0 0;
}

.send__message {
    font-size: 3rem;
    text-align: center;
}

.contact__input input,
.contact__input textarea{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: none;
    resize: unset;
    width: 380px;
    padding: 20px 15px;
    font-size: 0.9rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.contact__input input:focus,
.contact__input textarea:focus {
    outline: none!important;
    box-shadow: none!important;
    background: none!important;
}

.contact__input button {
    background: #00539CFF;
    color: #fff;
    padding: 12px 38px;
    border: 1px solid #fff;
    outline: none;
    font-size: 0.8rem;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.contact__input button:hover {
    background: none;
    border: 1px solid #00539CFF;
    color: #000;
}


/* Media Query for Contact Content */

@media screen and (max-width: 1200px) {
    .contact__root {
        width: 100%!important;
    }

    .contact__container {
        display: flex!important;
        flex-direction: column!important;
    }

    .contact__message {
        margin: 0 auto;
        text-align: center;
    }

    .contact__input {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* 2nd Media Query */
@media screen and (max-width: 876px) {
        .navbar__items .highlight {
        opacity: 1!important;
        color: #fff!important;
    }

    .contact__container {
        padding: 0;
        margin: 3%;
    }

    .send__message {
        font-size: 2.3rem;
    }

    .contact__input {
        width: 100%!important;
        padding: 35px;
    }

    .contact__input input,
    .contact__input textarea{
        border-top: 0;
        border-left: 0;
        border-right: 0;
        background: none;
        resize: unset;
        width: 100%!important;
        padding: 20px 15px;
        font-size: 0.9rem;
    }
}

/* End of Contact Content Section */


/* Footer Section */

.footer__root {
    position: relative;
    margin: 2rem 0 0;
}

.footer__root p{
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    padding: 0!important;
    margin: 0!important;
    font-weight: 500;
}

/* Media Query for Footer */

@media screen and (max-width: 678px) {
    .footer__root {
        margin: 1rem 0 0;
    }

    .footer__root p {
        font-size: 0.5rem;
    }
}

/* End of Footer Section */