* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  background: rgb(226, 226, 226);
}

/* navigation bar */

.navbar__root {
  background: #00539cff;
  width: 100%;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 999;
  border: 1px solid #00539cff;
}

.navbar__container {
  height: 80px;
  font-size: 1.2rem;
  padding: 0 50px;
  max-width: 1300px;
}

#navbar__logo {
  font-family: 'Irish Grover', cursive;
  color: rgb(226, 226, 226);
  z-index: 999;
  font-weight: 400 !important;
  font-size: 2rem;
  text-decoration: underline;
}

.navbar__items {
  height: 80px;
}

.navbar__links {
  color: rgb(226, 226, 226) !important;
  width: 125px;
  transition: all 0.3s ease-in-out;
}

.navbar__links:hover {
  opacity: 0.5 !important;
}

/* Highlight Effect on Navigation */

.highlight {
  border-bottom: 3px solid rgb(199, 199, 199);
}

/* Media Query for Navigation*/
@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid !important;
    grid-template-columns: auto !important;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    z-index: -1;
  }

  .navbar__menu.active {
    background: rgba(0, 83, 156, 0.952);
    top: 100% !important;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    z-index: 999;
    height: 60vh !important;
    font-size: 1.6rem !important;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    height: auto !important;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bars {
    width: 30px;
    height: 3px;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
    cursor: pointer;
  }

  .navbar__items {
    width: 100%;
  }

  .navbar__links {
    text-align: center !important;
    padding: 2rem !important;
    width: 100% !important;
    color: #fff !important;
    display: table;
    opacity: 0.5;
  }

  .navbar__links:active {
    background: rgb(233, 233, 233);
    color: #000;
  }

  #mobile__menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  #mobile__menu.is-active .bars:nth-child(2) {
    opacity: 0;
  }

  #mobile__menu.is-active .bars:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }

  #mobile__menu.is-active .bars:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
  }
}

/* End of Navigation Bar */

/* Hero Section */

.hero__root {
  padding: 5.3rem 0;
  background: rgb(226, 226, 226);
  background: linear-gradient(to right, rgb(226, 226, 226), rgb(255, 255, 255));
}

.hero__container {
  height: 90%;
  width: 100%;
}

.hero__introduction {
  margin: 0 7%;
}

.hero__hello {
  font-size: 1rem;
  margin: 60px 2px 3px;
}

.hero__name {
  font-size: 3rem;
  font-weight: 500;
  margin: 3px 0 0px;
}

.hero__fullStack {
  font-size: 1.5rem;
  margin: 3px 3px 5px;
}

.hero__slogan {
  font-size: 1.1rem;
  margin-left: 5px;
}

.hero__slogan img {
  width: 30px;
  margin-top: -5px;
}

.hero__introduction button {
  outline: none;
  margin: 0px 0 0 5px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
}

.hero__button {
  color: #fff;
  border: 1px solid #fff;
  background: #00539cff;
  padding: 10px 45px;
}

.hero__button1 {
  color: #000;
  border: 1px solid #00539cff;
  background: #fff;
  padding: 10px 25px;
}

.hero__button:hover {
  background: #fff;
  border: 1px solid #00539cff;
  color: #000;
}

.hero__button1:hover {
  background: #00539cff;
  color: #fff;
  border: 1px solid #fff;
}

.hero__image {
  margin: 0 7% -92px;
}

.hero__image img {
  width: 230px;
  margin: 0 !important;
}

/* Media Query of Hero Section */
@media screen and (max-width: 1100px) {
  .hero__root {
    padding: 50px 0;
  }

  .hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .hero__introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    margin: 0 !important;
  }

  .hero__name {
    font-size: 2.3rem;
  }

  .hero__image {
    margin: 0 !important;
    padding: 0 !important;
  }

  .hero__image img {
    display: none;
  }

  .hero__button:hover {
    background: #00539cff;
    border: 1px solid #fff;
    color: #fff;
    transform: scale(1.03);
  }

  .hero__button1:hover {
    background: #fff;
    color: #00539cff;
    transform: scale(1.03);
  }
}

/* 2nd Media Query of Hero Section */

@media screen and (max-width: 668px) {
  .hero__name {
    font-size: 1.5rem;
  }

  .hero__fullStack {
    font-size: 1rem;
  }

  .buttons button {
    font-size: 0.5rem;
  }
}

/* End of Media Query of Hero Section */

/* About Section */

.about__root {
  background: rgb(226, 226, 226);
  background: linear-gradient(to left, rgb(226, 226, 226), rgb(255, 255, 255));
}

.about__container {
  padding: 7rem 0;
  width: 100%;
  height: 100%;
}

.about__heading {
  padding: 20px 60px;
}

.about__me {
  font-size: 4rem;
  margin: 0 60px;
}

.about__dev {
  font-size: 2rem;
  margin: 0 60px;
}

.about__message {
  width: 40%;
  padding: 20px;
}

/* Media Query of About Section */

@media screen and (max-width: 1100px) {
  .about__container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    text-align: center;
    padding: 8%;
  }

  .about__heading {
    width: 100%;
  }

  .about__me {
    font-size: 2rem;
    padding: 0 !important;
    margin: 50px 0 0px !important;
  }

  .about__dev {
    font-size: 1rem;
    padding: 0 !important;
    margin: 0;
  }

  .about__message {
    width: 100%;
    font-size: 0.8rem;
    margin: 0;
  }
}

@media screen and (max-width: 678px) {
  .about__container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 4rem 0;
  }

  .about__heading {
    width: 100%;
  }

  .about__me {
    font-size: 1.5rem !important;
    padding: 0 !important;
    margin: 50px 0 0px !important;
  }

  .about__dev {
    font-size: 1rem;
    padding: 0 !important;
    margin: 0;
  }

  .about__message {
    width: 100%;
    font-size: 0.8rem !important;
    margin: 0;
  }
}

/* End of About Section */

/* Portfolio Section */

.portfolio__root {
  width: 100%;
  text-align: center;
}

.portfolio__container {
  /* margin: 8% 0; */
  padding: 7rem;
}

.portfolio__text {
  margin: 0 auto 0 2rem;
  width: 520px;
}

.portfolio__projects {
  font-size: 3.5rem;
}

.portfolio__message {
  padding-bottom: 1rem;
  display: inline-block;
}

.portfolio__button {
  text-decoration: none;
  display: block;
  width: 175px;
  margin: 0 auto;
  color: #fff;
  border: 1px solid #fff;
  background: #00539cff;
  padding: 11px 25px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
}

.portfolio__button:hover {
  background: #fff;
  border: 1px solid #00539cff;
  color: #000;
  text-decoration: none;
}

.portfolio__root .slide {
  width: 400px;
  height: 266px;
  margin: 0 2rem 0 auto;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.45);
}

.portfolio__root img {
  width: 100%;
  height: 100%;
}

.fa-angle-right,
.fa-angle-left {
  font-size: 2rem;
}

/* Media Query of Portfolio Section */

@media screen and (max-width: 900px) {
  .portfolio__container {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    height: auto;
    padding: 7rem 0 !important;
    height: auto !important;
    margin: 0 !important;
  }

  .portfolio__text {
    margin: 0;
  }

  .portfolio__root .slide {
    margin: 20px auto 0 !important;
  }

  .portfolio__projects {
    font-size: 1.5rem !important;
    margin: 0 !important;
    padding: 0;
  }

  .portfolio__button {
    font-size: 1rem !important;
    display: inline-block;
    margin: 20px 0 30px !important;
  }
}

/* 2nd Media Query for Portfolio Section */
@media screen and (max-width: 578px) {
  .portfolio__container {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    height: auto;
    height: auto !important;
    margin: 0 !important;
  }

  .portfolio__text {
    margin: 0;
    width: 90% !important;
  }

  .portfolio__projects {
    font-size: 2rem;
    margin: 0 !important;
    padding: 0;
  }

  .portfolio__button {
    font-size: 1rem;
    display: inline-block;
    margin: 20px 0 30px !important;
  }

  .portfolio__root .slide {
    width: 280px;
    height: 100%;
    padding: -80px 0 0 !important;
    margin: 20px auto 0 !important;
  }

  .portfolio__root img {
    width: 100%;
    height: 100%;
    padding-top: -150px !important;
  }
}

/* 3rd Media Query for Portfolio Section */
@media screen and (max-width: 367px) {
  .portfolio__container {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    height: auto !important;
    margin: 0 0 90px !important;
  }

  .portfolio__projects {
    font-size: 1.2rem !important;
    margin: 0 !important;
    padding: 0;
  }

  .portfolio__message {
    font-size: 0.8rem !important;
    margin: 0.5rem 0;
  }

  .portfolio__button {
    font-size: 0.5rem !important;
    display: inline-block;
    margin: 20px 0 30px !important;
  }

  .portfolio__root .slide {
    width: 180px;
    height: 50px;
    display: block;
  }

  .carousel-indicators {
    position: absolute;
    top: 100px;
  }

  .fa-angle-right,
  .fa-angle-left {
    position: absolute;
    top: 50px;
  }
}

/* End of Portfolio Section */

/* Contact Section */

.contact__root {
  background: rgb(226, 226, 226);
  background: linear-gradient(to right, rgb(226, 226, 226), rgb(255, 255, 255));
}

.contact__container {
  padding: 7rem 0;
  width: 100%;
  height: 100%;
}

.contact__heading {
  font-size: 3.5rem;
}

.work__with__me {
  font-size: 1.8rem;
}

.contact__button {
  color: #000;
  border: 1px solid #00539cff;
  background: #fff;
  padding: 10px 25px;
  display: block;
  width: 165px;
  border-radius: 4px;
  margin: 20px auto;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
}

.contact__button:hover {
  text-decoration: none;
  background: #00539cff;
  color: #fff;
  border: 1px solid #fff;
}

.contact__root a {
  text-decoration: none !important;
}

.side__button {
  display: block;
  position: fixed;
  right: 0;
  top: 45%;
  bottom: 45%;
}

.side__button a:hover {
  text-decoration: none !important;
}

.fa-facebook-f,
.fa-gitlab,
.fa-linkedin-in,
.fa-envelope {
  color: #fff;
  background: #00539cff;
  border: 1px solid #fff;
  display: block;
  width: 40px;
  border-radius: 4px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
  margin: 8px 5px;
  transition: all 0.3s ease-in-out;
}

.fa-linkedin-in,
.fa-facebook-f {
  padding: 8px 13px;
}

.fa-envelope,
.fa-gitlab {
  padding: 8px 10px;
}

.fa-facebook-f:hover,
.fa-gitlab:hover,
.fa-linkedin-in:hover,
.fa-envelope:hover {
  color: rgb(0, 64, 119);
  background: #fff;
  border: 1px solid #00539cff;
  transform: scale(1.2);
}

/* Media Query for Contact Section */

@media screen and (max-width: 987px) {
  .contact__container {
    padding: 7rem 1rem !important;
  }

  .contact__heading {
    font-size: 1.5rem;
  }

  .work__with__me {
    font-size: 1.2rem !important;
  }

  .side__button {
    display: inline-block;
    position: relative;
    right: 0;
    top: 45%;
    bottom: 45%;
  }

  .fa-facebook-f,
  .fa-gitlab,
  .fa-linkedin-in,
  .fa-envelope {
    display: inline-block;
  }
}

/* End of Contact Section */

/* About Page Section */

.aboutPage__root {
  background: rgb(226, 226, 226);
  background: linear-gradient(to left, rgb(226, 226, 226), rgb(255, 255, 255));
  width: 100%;
}

.aboutPage__container {
  text-align: center;
  margin: 0 auto;
  padding: 6rem 0;
}

.aboutPage__heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.fa-html5,
.fa-css3-alt,
.fa-bootstrap,
.fa-js-square {
  font-size: 2rem;
  color: rgb(10, 10, 10);
  margin: 8px 15px;
}

/* Media Query of About Page Section */
@media screen and (max-width: 678px) {
  .aboutPage__container {
    width: 100% !important;
    padding: 5rem 1rem;
  }

  .aboutPage__heading {
    font-size: 1.2rem !important;
  }

  .aboutPage__content {
    font-size: 0.8rem;
  }
}

/* End of About Page Section */

/* Footer Section */

.footer__root {
  position: relative;
  margin: 2rem 0 0;
}

.footer__root p {
  position: absolute;
  bottom: 0;
  font-size: 0.9rem;
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 500;
}

/* Media Query for Footer */

@media screen and (max-width: 678px) {
  .footer__root {
    margin: 1rem 0 0;
  }

  .footer__root p {
    font-size: 0.5rem;
  }
}

/* End of Footer Section */
