* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(226, 226, 226);
}

/* navigation bar */

.navbar__root {
    background: #00539CFF;
    width: 100%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
    top: 0;
    z-index: 999;
    border: 1px solid #00539CFF;
}

.navbar__container {
    height: 80px;
    font-size: 1.2rem;
    padding: 0 50px;
    max-width: 1300px;
}

#navbar__logo {
    font-family: 'Irish Grover', cursive;
    color: rgb(226, 226, 226);
    z-index: 999;
    font-weight: 400!important;
    font-size: 2rem;
    text-decoration: underline;
}

.navbar__items {
    height: 80px;
}

.navbar__links {
    color: rgb(226, 226, 226)!important;
    width: 125px;
    transition: all 0.3s ease-in-out;
}

.navbar__links:hover {
    opacity: 0.5!important;
}

/* Highlight Effect on Active page */

.highlight {
    border-bottom: 3px solid rgb(199, 199, 199);
}

/* Media Query for Navigation*/
@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid!important;
        grid-template-columns: auto!important;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        z-index: -1;
    }

    .navbar__menu.active {
        background: rgba(0, 83, 156, 0.952);
        top: 100%!important;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        z-index: 999;
        height: 60vh!important;
        font-size: 1.6rem!important;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
        height: auto!important;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bars{
        width: 30px;
        height: 3px;
        margin: 7px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        display: block;
        cursor: pointer;
    }

    .navbar__items {
        width: 100%;
    }

    .navbar__links {
        text-align: center!important;
        padding: 2rem!important;
        width: 100%!important;
        color: #fff!important;
        display: table;
        opacity: 0.5;
    }

    .highlight {
        border-bottom: none!important;
        opacity: 1!important;
    }

    .navbar__links:active {
        background: rgb(233, 233, 233);
        color: #000;
    }

    #mobile__menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile__menu.is-active .bars:nth-child(2) {
        opacity: 0;
    }

    #mobile__menu.is-active .bars:nth-child(1) {
        transform: translateY(10px) rotate(-45deg);
    }

    #mobile__menu.is-active .bars:nth-child(3) {
        transform: translateY(-10px) rotate(45deg);
    }
}

/* End of Navigation Bar */

/* Portfolio Heading Section */
.portfolio__heading p{
    margin: 1rem 2rem;
}

.portfolio__heading::before {
    background: #d0d0d0;
    width: 35%;
    padding: 20px;
    content: '';
}

.portfolio__heading::after {
    background: #d0d0d0;
    content: '';
    width: 35%;
    padding: 20px;
}

.portfolio__title {
    font-size: 4rem;
}

/* Media Query for Portfolio Heading Section */

@media screen and (max-width: 789px) {
    
    .portfolio__title {
        font-size: 2rem;
    }
}

/* End of Portfolio Heading Section */

/* Portfolio Navigation */

#portfolio__nav {
    width: 100%;
    text-align: center;
    margin: 50px auto;
}

.portfolio__filter {
    padding: 8px 35px;
    border: none;
    background: rgb(226, 226, 226);
    outline: none;
    margin: 0px 50px;
    font-size: 1.2rem;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.portfolio__filter:hover {
    opacity: 0.5;
}

.is__active {
    padding-bottom: 7px;
    border-bottom: 1px solid #000;
}

.show__projects {
    display: inline-block!important;
}


/* End of Portfolio Navigation */ 

@media screen and (max-width: 960px) {
    #portfolio__nav span {
        display: block;
        margin: 10px auto;
        width: 50%;
    }
}

@media screen and (max-width: 367px) {
    #portfolio__nav span {
        display: block;
        margin: 10px auto;
        width: 80%;
    }
}

/* Portfolio Projects Section */



.projects__container {
    margin: 0;
}

.projects__container::after {
    content: '';
    display: table;
    clear: both;
}


.project {
    width: 380px;
    height: 260px;
    margin: 10px 0;
    position: relative;
    display: none;
}

.project__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.596);
}

.project:hover .project__overlay {
    opacity: 0.99;
}

.overlay__text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 1rem;
}

.portfolio__projects img {
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 12px 5px rgba(0, 0, 0, 0.3);
    display: block;
}

/* Media Query for Portfolio Section */

@media screen and (max-width: 960px) {
    .projects__container {
        margin: 50px auto;
    }

    .project {
        width: 160px;
        height: 100px;
    }
}


@media screen and (max-width: 660px) {
    .projects__container {
        margin: 50px auto;
    }

    .my__projects {
        display: flex!important;
        flex-direction: row!important;
        flex-wrap: wrap!important;
    }

    .project {
        width: 160px;
        height: 100px;
        margin: 20px;
    }
}

/* End of Portfolio Project Section */

/* Contact Section */

.contact__root {
    background: rgb(226, 226, 226);
    background: linear-gradient(to right, #00539CFF, rgb(0, 113, 212));
}

.contact__container {
    padding: 5rem 0;
    width: 100%;
    height: 100%;
    color: #fff;
}

.contact__heading {
    font-size: 3.5rem;
}

.contact__button {
    color: #000;
    border: 1px solid #00539CFF;
    background: #fff;
    padding: 10px 25px;
    display: block;
    width: 165px;
    border-radius: 4px;
    margin: 20px auto;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
}

.contact__button:hover {
    text-decoration: none;
    background: #00539CFF;
    color: #fff;
    border: 1px solid #fff;
}

.contact__root a {
    text-decoration: none!important;
}

.fa-facebook-f,
.fa-gitlab,
.fa-linkedin-in,
.fa-envelope {
    color: #fff;
    background: #00539CFF;
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
    margin: 8px 5px;
    transition: all 0.3s ease-in-out;
}

.fa-linkedin-in,
.fa-facebook-f {
    padding: 8px 13px;
}


.fa-envelope,
.fa-gitlab {
    padding: 8px 10px;
}

.fa-facebook-f:hover,
.fa-gitlab:hover,
.fa-linkedin-in:hover,
.fa-envelope:hover {
    color: rgb(0, 64, 119);
    background: #fff;
    border: 1px solid #00539CFF;
    transform: scale(1.2);
}

/* Media Query for Contact Section */

@media screen and (max-width: 987px) {

    .contact__container {
        padding: 5rem 1rem!important;
    }

    .contact__heading {
        font-size: 1.5rem;
    }

    .work__with__me {
        font-size: 1.2rem!important;
    }


}

/* End of Contact Section */


/* Footer Section */

.footer__root {
    position: relative;
    margin: 2rem 0 0;
    bottom: 0;
}

.footer__root p{
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    padding: 0!important;
    margin: 0!important;
    font-weight: 500;
}

/* Media Query for Footer */

@media screen and (max-width: 678px) {
    .footer__root {
        margin: 1rem 0 0;
    }

    .footer__root p {
        font-size: 0.5rem;
    }
}

/* End of Footer Section */